/* Add this CSS to your stylesheet or a CSS module */
.star-rating {
    font-size: 24px; /* Adjust the font size as needed */
    color: rgb(247, 247, 246); /* Change the color to yellow or any other color you prefer */
  }
  
  .star {
    color: rgb(140, 161, 35); /* Change the color to yellow or any other color you prefer */
  }
  